{% extends 'templatepage.html' %}

{%block title %}
Главная страница
{% endblock %}

{%block content %}
    <h1>Общая сводка</h1>
    <p>Назначенные встречи<br>Новый клиент<br>Новая встреча<br>Новая продажа<br>Новые расходы<br><br>Чистый доход за месяц</p>
    <p><button onclick="window.location.href = 'newby'">Новый клиент</button></p>
    <p><button onclick="window.location.href = 'new_product'">Новый продукт</button></p>
    <p><button onclick="window.location.href = 'sale'">Новая продажа</button></p>
{% endblock %}