{% extends 'templatepage.html' %}

{%block title %}
Главная страница
{% endblock %}

{%block content %}
    <h1>Ура! Новый клиент</h1>
    <form method="post">
        {% csrf_token %}
        <p>Полное имя {{ form.name }}{{ form.id_link }}</p>
        <p>День рождения{{ form.birthday }}</p>
        <p>Профессия {{ form.occupation }}</p>
        <p>Кол-во продаж {{ form.sales_number }}</p>
        <p>Сумма продаж{{ form.sales_value }}</p>
        <p>Задолженность {{ form.debt }}</p>
        <p>Заметки{{ form.notes }}</p>
        <button type="submit" class="btn btn-success">Добавить в клиентскую базу</button>
        <span>{{ error }}</span>
    </form><br>
    <p><button onclick="window.location.href = 'clients'">К базе клиентов</button></p>

{% endblock %}