{% extends 'templatepage.html' %}

{%block title %}
Главная страница
{% endblock %}

{%block content %}
    <h1>{{ clients }}</h1>
    <form method="post">
        {% csrf_token %}
        <p>Наименование {{ form.name }}{{ form.id_link }}</p>
        <p>Тип{{ form.product_type }}</p>
        <p>Цена {{ form.price }}</p>
        <p>Годен до {{ form.exp_date }}</p>
        <p>Куплен {{ form.sold }}</p>
        <button type="submit" class="btn btn-success">Обновить информацию о товаре</button>
        <span>{{ error }}</span>
    </form><br>
    <p><button onclick="window.location.href = 'clients'">Сюда же</button></p>
{% endblock %}