{% extends 'templatepage.html' %}

{% block title %}
Страница клиента
{% endblock %}

{% block content %}
    <h1>{{ clients }}</h1>
    <form method="post">
        {% csrf_token %}
        <p>Полное имя<br>{{ form.name }}{{ form.id_link }}</p>
        <p>День рождения<br>{{ form.birthday }}</p>
        <p>Номер телефона<br>{{form.phone_number }}</p>
        <p>Профессия<br>{{ form.occupation }}</p>
        <p>Домашний адрес<br>{{ form.address }}</p>
        <p>Кол-во продаж<br>{{ form.sales_number }}</p>
        <p>Сумма продаж<br>{{ form.sales_value }}</p>
        <p>Задолженность<br>{{ form.debt }}</p>
        <p>Заметки<br>{{ form.notes }}</p>
        <button type="submit" class="btn btn-success">Обновить информацию о клиенте</button>
        <span>{{ error }}</span>
    </form><br>
{% endblock %}